li {
	display:inline;
}


.container {
    	display: flex; 
	flex-direction: column;  	
	background-color: #F2F2F2; 	
}



.container > header {
	display: flex;
	flex-direction: column;
    	order: 0; 
	flex-grow: 2; 
    	flex-basis: auto; 
    	align-self: stretch;  
	flex: 2 1 auto;
}
		.container > header > .title {
    			order: 0;
		    	display: flex; 
			flex: 3 1 auto;
			flex-direction: row; 
		}
			.container > header nav.logo {
	    			order: 0; 
	    			align-self: stretch; 
				background-color: #B3B3FF;
				flex: 0 1 auto;	
	   		 }
			.container > header nav.banner {
	    			order: 1; 
	    			align-self: stretch; 
				background-color: #6666FF;
				flex: 3 1 auto;		
	    		}

		.container > header nav.menu {
    			order: 1;
    			flex: 1 1 auto;
    			align-self: stretch;
			background-color: #FFCCCC;	
		}

.container > main {
    			order: 1;
    			flex: 4 1 auto;
    			align-self: stretch;
}

.container > footer  {
   	order: 2;
    	flex: 1 1 auto;
    	align-self: stretch;
	background-color: #99FF99;	
}



